---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>Jaden Durnford</title>
    <meta
      name="description"
      content="Mech Eng student diving into Crypto development"
    />

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Jaden Durnford" />
    <meta
      itemprop="description"
      content="Mech Eng student diving into Crypto development"
    />
    <meta itemprop="image" content="https://www.jadendurnford.com/meta.png" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.jadendurnford.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Jaden Durnford" />
    <meta
      property="og:description"
      content="Mech Eng student diving into Crypto development"
    />
    <meta
      property="og:image"
      content="https://www.jadendurnford.com/meta.png"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Jaden Durnford" />
    <meta
      name="twitter:description"
      content="Mech Eng student diving into Crypto development"
    />
    <meta
      name="twitter:image"
      content="https://www.jadendurnford.com/meta.png"
    />
    <link
      rel="preload"
      href="/fonts/AtkinsonHyperlegible-Regular.ttf"
      as="font"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/AtkinsonHyperlegible-Bold.ttf"
      as="font"
      crossorigin
    />
    <style>
      @font-face {
        font-family: "Atkinson Hyperlegible";
        src: url("/fonts/AtkinsonHyperlegible-Regular.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "Atkinson Hyperlegible";
        src: url("/fonts/AtkinsonHyperlegible-Bold.ttf") format("truetype");
        font-weight: bold;
        font-style: normal;
        font-display: swap;
      }
      html {
        background-color: #f5f5f5;
        overflow-y: scroll;
        overflow-x: hidden;
        -ms-overflow-style: none;
        scrollbar-width: none;
      }

      html::-webkit-scrollbar {
        display: none;
      }

      body {
        font-family: "Atkinson Hyperlegible", sans-serif;
        font-size: 18px;
        color: rgb(69, 69, 69);
      }

      .name {
        margin: 0 0 10px 0;
        font-size: 30px;
        text-align: center;
        font-weight: 700;
      }

      h2 {
        margin: 0 auto 10px auto;
        font-size: 20px;
        font-weight: 700;
        width: 650px;
      }

      .main {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 80px;
      }

      .introText {
        text-align: justify;
        width: 650px;
        line-height: 1.75;
        margin: 0 auto;
      }

      .introBox,
      .projectsBox {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
      }

      .header {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 650px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
      }

      .links {
        display: flex;
        justify-content: center;
      }

      a:link,
      a:visited {
        color: rgb(69, 69, 69);
        text-decoration: none;
      }

      a:hover,
      a:active {
        color: black;
        text-decoration: underline;
        cursor: pointer;
      }

      .iconLink {
        transition: transform 0.2s;
        padding: 0px 10px;
        line-height: 35px;
      }

      .iconLink:hover {
        transform: scale(1.25);
      }

      .icon {
        vertical-align: middle;
        display: inline-block;
        margin: auto;
      }

      .projectsBox > ul {
        width: 650px;
        margin: 0 auto;
        padding: 0;
        list-style-type: none;
      }

      .projectsBox > ul > li {
        line-height: 2;
      }

      a.inTextLink {
        text-decoration: underline;
      }

      .lineBreak {
        width: 650px;
        margin: 0 auto;
      }

      hr {
        color: rgb(69, 69, 69);
        margin: 25px auto;
      }

      @media screen and (max-width: 690px) {
        .introText {
          width: 100%;
          margin: 0 auto;
        }

        h2 {
          width: 100%;
        }

        .projectsBox > ul,
        .researchBox > ul {
          width: 100%;
          margin: 0 auto;
        }

        .header {
          width: 100%;
          margin: 0 auto 20px auto;
        }

        .introBox,
        .projectsBox,
        .researchBox {
          margin: 0 auto;
          width: 90%;
        }

        .lineBreak {
          width: 90%;
          margin: 0 auto;
        }
      }
    </style>
  </head>
  <body>
    <div class="main">
      <div class="introBox">
        <div class="header">
          <h1 class="name">Jaden Durnford</h1>
          <div class="links">
            <a
              class="iconLink"
              href="https://github.com/JadenDurnford"
              target="_blank"
              aria-label="github link"
              ><img
                class="icon"
                src="./icons/githubicon.svg"
                height="25px"
                width="25px"
                alt="github icon"
              />
            </a>
            <a
              class="iconLink"
              href="https://twitter.com/JadenDurnford"
              target="_blank"
              aria-label="twitter link"
              ><img
                class="icon"
                src="./icons/twittericon.svg"
                height="25px"
                width="25px"
                alt="twitter icon"
              />
            </a>
            <a
              class="iconLink"
              href="mailto:jadendurnford@gmail.com"
              target="_blank"
              aria-label="email link"
              ><img
                class="icon"
                src="./icons/emailicon.svg"
                height="25px"
                width="25px"
                alt="email icon"
              />
            </a>
            <a
              class="iconLink"
              href="./resume.pdf"
              target="_blank"
              aria-label="resume link"
              ><img
                class="icon"
                src="./icons/resumeicon.svg"
                height="25px"
                width="25px"
                alt="resume icon"
              />
            </a>
          </div>
        </div>
        <h2>About</h2>
        <p class="introText">
          By day, I'm a 3rd year Mechanical Engineering student at the
          University of Waterloo. My work combines software engineering with
          applied product design, fabrication, and assembly. By night, I write
          software that interests me, primarily at the intersections of crypto
          and social.
        </p>
      </div>
      <div class="lineBreak">
        <hr />
      </div>
      <div class="projectsBox">
        <h2 id="projects">Projects</h2>
        <ul>
          <li>
            <a href="https://dashboard.reservoir.tools" target="_blank"
              ><span>
                Reservoir Dashboard — Portal enabling management of Reservoir
                API keys</span
              >
            </a>
          </li>
          <li>
            <a
              href="https://github.com/reservoirprotocol/reservoir-discord-bot"
              target="_blank"
              ><span>
                Discord NFT Bot — NFT collection stats and alerts powered by
                Reservoir</span
              >
            </a>
          </li>
          <li>
            <a href="https://habipets.vercel.app/" target="_blank"
              ><span> Habipets — Smart NFT backed Habit Tracker</span>
            </a>
          </li>
          <li>
            <a href="https://github.com/JadenDurnford/snip3r" target="_blank"
              ><span> Snip3r — Trait and Rarity based NFT Sniper</span>
            </a>
          </li>
          <li>
            <a
              href="https://github.com/JadenDurnford/twitter-tracker-bot"
              target="_blank"
              ><span>
                Twitter Tracker — New follow alerts for tracked accounts via
                Discord</span
              >
            </a>
          </li>
          <li>
            <a
              href="https://github.com/JadenDurnford/NFT-rarity-calc"
              target="_blank"
              ><span>
                NFT Rarity Calculator — NFT collection rarity scores calculated
                through trait data</span
              >
            </a>
          </li>
          <li>
            <a
              href="https://github.com/JadenDurnford/WeightWeave"
              target="_blank"
              ><span class="projectName">WeightWeave</span><span>
                — Weight tracker saved to the permaweb</span
              >
            </a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
